doctype
html
	head
		title {{page.title}}
		meta(name="description", value="{{page.description}}")
	body
		h1 Page Title: {{page.title}}
		h1 Content Section:
		div 
			.
				{% include header %}
				{{content}}
				{% include footer.html %}
